
.Sidebar {
  background-color: #F8F8F8;
  height: 100vh;
  padding-top: 2%;
}

.Exam-colour {
  background-color: #FFFFFF;
}

.timer-text {
  text-align: center;
  align-items: center;
  font: normal normal normal 16px/21px Montserrat;
  letter-spacing: 0px;
  color: #465F64;
  opacity: 1;
}

.buttons {
  opacity: 1;
  border: 1;
  box-align: center;
  font: normal normal medium 34px/40px Montserrat;
  letter-spacing: 0px;
  background-color: #F8F8F8;
  opacity: 1;
}

.help-button {
  border-color: #28DDA0;
  color: #28DDA0;
}

.help-button:hover {
  color: #FFFFFF;
  border-color: #28DDA0;
  background-color: #28DDA0;
}

.leave-button {
  border-color: #FF4B4B;
  color: #FF4B4B;
}

.leave-button:hover {
  color: #FFFFFF;
  border-color: #FF4B4B;
  background-color: #FF4B4B;
}

.exam-name {
  color: #465F64;
  font: normal normal normal 23px/28px Montserrat;
  letter-spacing: 0px;
  padding: 0.5%;
}

.exam-instructions {
  color: #465F64;
  font: normal normal normal 14px/19px Montserrat;
  letter-spacing: 0px;
  padding: 0.5%;
}

