.col-centered {
  float: none;
  margin: 0 auto;
  width: 80%;
  height: auto;
  background-color: #f8f8f8;
}

.title {
  font: bold 45px/60px Montserrat;
  color: #465f64;
  padding-left: 3%;
}

.spinner {
  color: #28dda0;
  margin: 5% 50%;
}

.back-button,
.back-button:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #28dda0;
  border-color: #28dda0;
  font-weight: bold;
  font-family: "Montserrat";
  margin-left: 43%;
}
