.form-heading {
  text-align: left;
  font: normal normal 600 30px/49px Montserrat;
  letter-spacing: 0px;
  color: #28dda0;
  opacity: 1;
  padding-bottom: 3%;
}

.form-text {
  text-align: left;
  font: normal normal normal 20px/29px Montserrat;
  letter-spacing: 0px;
  color: #465f64;
  opacity: 1;
}

.form-input-headers {
  text-align: left;
  font: normal normal medium 28px/34px Montserrat;
  color: #465f64;
  opacity: 1;
}

.col2-padding {
  padding-right: 10%;
  padding-left: 4%;
}

.col1-padding {
  padding-left: 5%;
}

.position {
  padding-top: 5%;
}

.button {
  background: #28dda0 0% 0% no-repeat padding-box;
  opacity: 1;
  border: 0em;
  width: 27%;
  box-align: left;
  font: normal normal medium 34px/40px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
