/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

.form-heading {
  text-align: left;
  font: normal normal 600 40px/49px Montserrat;
  letter-spacing: 0px;
  color: #28DDA0;
  opacity: 1;
  padding-bottom: 3%;
}

.form-text {
  text-align: left;
  font: normal normal normal 24px/29px Montserrat;
  letter-spacing: 0px;
  color: #465F64;
  opacity: 1;
}

.form-input-headers {
  text-align: left;
  font: normal normal medium 28px/34px Montserrat;
  color: #465F64;
  opacity: 1;
}


.div {
  text-align: center;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
}

.col2-padding {
  padding-right: 10%;
  padding-left: 4%;
}

.col1-padding {
  padding-left: 5%;
}

.position {
  padding-top: 5%;
}

.button {
  background: #28DDA0 0% 0% no-repeat padding-box;
  opacity: 1;
  border: 0em;
  width: 27%;
  box-align: left;
  font: normal normal medium 34px/40px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.forgot-password {
  text-decoration: underline;
  font: normal normal normal 18px Montserrat;
  color: #465F64;
  opacity: 1;
  text-align: right;
}