
  .App-header {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .Img{
    height: 70%;
    width: 70%;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;
    border-radius: 300px;
  }

  .bottom{
    /* position: absolute; */
    top:66%;
    left:30%;
    
  }

  #input[type="file"]{
    display: none;
  }

  .image-upload{
    display:flex;
    flex-direction: row;
    text-transform:uppercase;
    text-overflow: ellipsis;
    min-width: 180px;
    min-height: 45px;
    font-size:14px;
    border-radius:25px;
    color:white;
    padding:10px 25px;
    background-color: rgb(40, 221, 160);
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;
    margin-right: 40%;
    margin-left: 5%;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 10px;
    font-weight: 600;
   
  
  }

  .Image{
    height: 70%;
    width: 70%;
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 20%;
    margin-bottom: 30%;
    border-radius: 300px;
  }
  .left{
    width: 70%;
    float: right;
    height: 100%;
    background-color:white;
  }


  .right{
    background:fixed;
    width: 30%;
    float:left;
    background-color: #fff;
    min-height: 100vh;
    background-color:#fff;
  }

  .title{
    color: #282c34;
    text-shadow: 0 1px 0 282c34;
    margin-top: 1px;
    text-align: center;
  }
   
  .FName,
  .LName,
  .StudentID,
  .Email,
  .PNumber,
  .PName{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #969292;
    font-size: 16px;

  }

  .label{
    color: #282c34;
    font-size: 22px;
    margin-left: 10px;
  }

  .input{
    background-color: #ededed;
    border: none;
    height: 35px;
    font-size: 20px;
    width: 90%;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    padding: 23px;
    margin-bottom: 1%;

  }

  .submit{
    display:flex;
    text-transform:uppercase;
    font-size:18px;
    border-radius:25px;
    color:white;
    padding:10px 60px;
    background-color: rgb(40, 221, 160);
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 5px;
    margin-left: 2%;
  }

  .Exit{
    float: right;
  }
  button:active{

    transform:translateY(2px);
  }
  
  .profile-wrapper{
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
  }

  .Exit{
    margin-right: 2%;
  }
