.col1 {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 100vh;
}

.column1-contents {
  padding: 12%;
}

.button-requestHelp {
  border: 2px solid #28dda0;
  opacity: 1;
  background: none;

  font: bold 18px/24px Montserrat;
  letter-spacing: 0px;
  color: #28dda0;
  opacity: 1;
  width: 220px;
  text-align: center;
}

.padding-top-button1 {
  padding-top: 10%;
}

.column2-contents {
  padding: 12%;
  padding-top: 22%;
}

.button-startExam {
  background: #28dda0 0% 0% no-repeat padding-box;
  opacity: 1;
  font: bold 18px/24px Montserrat;
  letter-spacing: 0px;
  width: 220px;
  text-align: center;
  border: 2px solid #28dda0;
}

.padding-top-button2 {
  padding-top: 50%;
}

.p-bold {
  font: bold 18px/24px Montserrat;

  line-height: 2;
}
